{% extends "layouts/index_base.html" %}

{% block title %} Error 404 {% endblock %}

{% block content %}

    <main>
        <section class="vh-100 d-flex align-items-center justify-content-center">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center d-flex align-items-center justify-content-center">
                        <div>
                            <img class="img-fluid w-75" src="/static/assets/img/404.svg" alt="404 not found">
                            <h1 class="mt-5">Сторінка <span class="fw-bolder text-primary">не знайдена</span></h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}
