{% extends "layouts/index_base.html" %}

{% block title %} Index {% endblock %}

{% block content%}
        <!-- Header-->
        <header id="header" class="bg-primary bg-gradient text-white">
            <div class="header-content">
                <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-container">
                            <h1>ДОДАТОК <br>ДЛЯ <br>РОЗПІЗНАВАННЯ ОБЛИЧ </h1>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="image-container">
                            <img class="img-fluid" src="/static/assets/img/face_recogniton.png" alt="alternative">
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </header>

        <!-- Services section-->
        <section class="tabs" id="services">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center mb-3">
                        <h2><i class="fas fa-wrench"></i>СЕРВІСИ</h2>
                        <div class="p-heading p-large">Завантажте зображення для виконання розпізнання або додайте нове зображення у систему.</div>
                    </div>
                </div>
                <div class="row">

                <ul class="nav nav-tabs" id="tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true"><i class="far fa-image"></i>РОЗПІЗНАТИ ЗОБРАЖЕННЯ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false"><i class="fas fa-cogs"></i>ДОДАТИ ЗОБРАЖЕННЯ</a>
                    </li>
                </ul>
                <!-- Tabs Content-->
                <div class="tab-content d-flex justify-content-center" id="MyTabsContent">

                    <!-- Tab -->
                <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">

                        <div class="container">
                            <form action="/upload"  method="post" enctype="multipart/form-data" >
                                <div class="row">
                                    <div class = "col-md-12">
                                        <label id="load-image" class="btn btn-default btn-file btn-block mx-auto">
                                            <i class="far fa-file-image"></i>ЗАВАНТАЖИТИ ФАЙЛ
                                            <input type="file" name="image" id="picture" required="true" accept="image/*" onchange="showImage2(event)" style="display: none;">
                                        </label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class = "col-md-12">
                                        <button id="submit-image" type="submit" class="btn btn-block mx-auto"><i class="far fa-laugh-wink"></i>РОЗПІЗНАТИ&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                    </div>
                                </div> <!-- end of row -->

                             </form>

                            <div class="row mt-4">
                                <div class = "col-md-6 col-lg-6">
                                    <img class="image-preview mx-auto" id="converted-image2" width="450" height="400" style="display: none;">
                                </div>

                            </div>

                        </div> <!-- end of container -->

                    <div class="container">
                        <div class="row mt-4">
                            <div id="recognized-image" class="col-md-12">
                                 {% if init %}
                                    {% if face_recognized %}
                                        <div class="alert alert-success" style="margin-top:18px;">
                                            Розпізнано облич – <strong>{{ num_faces }}</strong>
                                        </div>
                                    {% else %}
                                        <div class="alert alert-danger" style="margin-top:18px;">
                                            <strong>Не знайдено</strong> облич на зображенні!
                                        </div>
                                    {% endif %}
                                     {% if image_to_show %}
                                            <div>
                                                <img class="image-preview mx-auto" src="{{ image_to_show }}" width="450" height="400">
                                            </div>
                                     {% endif %}
                                {% endif %}
                            </div>
                        </div>

                    </div>

                    </div> <!-- end of tab-pane -->
                    <!-- end of tab -->
                    <!--TAB 2 -->
                    <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                        <div class="container">

                            <form id="new-form" action="/add-image"  method="post" enctype="multipart/form-data" >

                            <div class="btn-group btn-group-toggle mb-4" data-toggle="buttons">
                              <label class="btn btn-secondary active" onclick="showForm1();">
                                <input type="radio" name="option1" id="option1"  autocomplete="off" checked> Вибір класу
                              </label>
                              <label class="btn btn-secondary" onclick="showForm2();">
                                <input type="radio" name="option2" id="option2"  autocomplete="off"> Новий клас
                              </label>
                            </div>

                            <div class="row">
                                <div id="form-group1" class="col-md-12">
                                   <div class="form-group">
                                    <label for="formControlSelect1">Виберіть назву класу:</label>
                                    <select class="form-control" id="formControlSelect1">

                                      <option value="{{classes[0]}}" selected>{{classes[0]}}</option>
                                      {% for class in classes[1:] %}
                                        <option value="{{class}}">{{class}}</option>
                                      {% endfor %}

                                    </select>
                                  </div>
                                </div>
                                <div id="form-group2" class="col-md-12" style="display: none;">
                                   <div class="form-group">
                                        <label for="exampleInput">Введіть назву класу:</label>
                                        <input name="exampleInput" type="text" class="form-control" id="exampleInput"  placeholder="">
                                   </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class = "col-md-12">
                                    <label id="load-image" class="btn btn-default btn-file btn-block mx-auto">
                                        <i class="far fa-file-image"></i>ЗАВАНТАЖИТИ ФАЙЛ&nbsp;&nbsp;
                                        <input type="file" name="image" id="picture1" required="true" accept="image/*" onchange="showImage(event)" style="display: none;">
                                    </label>
                                </div>
                            </div>

                            <div class="row">
                                <div class = "col-md-12">
                                  <button id="submit-image" type="submit" class="btn btn-block mx-auto" ><i class="fas fa-plus"></i>ДОДАТИ ЗОБРАЖЕННЯ</button>
                                </div>
                            </div> <!-- end of row -->
                            </form>

                                {% if init_add %}
                                    {% if error %}
                                        <div class="alert alert-danger" style="margin-top:18px;">
                                            {{ output_message }}
                                        </div>
                                    {% else %}
                                        <div class="alert alert-success" style="margin-top:18px;">
                                            {{ output_message }}
                                        </div>
                                    {% endif %}
                                {% endif %}

                            <div class="row mt-4">
                                <div class = "col-md-12 col-lg-12">
                                    <img class="image-preview mx-auto" id="converted-image" width="450" height="400" style="display: none;">
                                </div>

                            </div>

                        </div> <!-- end of container -->

                    </div>
                    </div>

                </div>

            </div>
        </section>

        <section id="details" class="basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>ІНФОРМАЦІЯ ПРО ПРОЄКТ</h2>
                    <div class="p-heading p-large">Розробник: Шевченко Володимир</div>
                </div> <!-- end of col -->
            </div>

                <div class="text-container">
                    <h4>ОПИС ПРОЄКТУ</h4>
                    	<p>Проєкт Face App розроблено для розпізнання облич з використанням згорточних нейронних мереж.
                            Задача розпізнавання облич має серйозну практичну перспективу, так
                            як  цей  метод  ідентифікації  особистості  для  людини  є  природнім  і
                            реалізовується на інтуїтивному рівні.</p>
					<h4>ЗАСТОСОВАНІ ЗАСОБИ РОЗРОБКИ</h4>
						<ul>
                    		<li>Python</li>
                            <li>Flask</li>
                    		<li>Tensorflow</li>
                            <li>Keras</li>
                    		<li>APIs</li>
                    	</ul>
                    <h4>ПРАКТИЧНА ЦІННІСТЬ</h4>
                    	<p>В даній роботі була запропонована модель згорткової нейронної мережі, що дозволяє виконувати розпізнання облич у медичній масці. Практична  цінність роботи  полягає  у  можливості  застосування отриманих  результатів  для  ефективного  використання  згорткової нейронної мережі для задачі розпізнавання об’єктів. Розроблена система може бути застосована в системах контроля доступу та ідентифікації особистості.</p>

					<h4>МОЖЛИВІ НАПРЯМКИ РОЗВИТКУ</h4>
                    <p>напрямом продовження дослідження є аналіз ефективності застосування інших алгоритмів
класифікації, наприклад, метод k-найближчих сусідів, Naive Bayes, випадкових лісів тощо.</p>

					<h4>ПОСИЛАННЯ</h4>
						<ul>
    						<li><a href="https://github.com/prestige-m/diploma2">Github</a></li>
                    	</ul>

                </div> <!-- end of text-container -->

        </div> <!-- end of container -->
    </section>

    <div class="counter">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <!-- Counter -->
                    <div id="counter">
                        <div class="cell">
                            <div class="counter-value number-count" data-count="{{ counter_value }}">{{ counter_value }}</div>
                            <p class="counter-info">Зображень завантажено </p>
                        </div>
                    </div>
                    <!-- end of counter -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div>

{% endblock content%}